BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true

IndentCaseLabels: true
PointerAlignment: Left

SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements

SortIncludes: Never

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true

BinPackArguments: true
BinPackParameters: true

BreakBeforeTernaryOperators: true
MaxEmptyLinesToKeep: 1
